<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSearchController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>057EF84C1CF4289D0069A675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057EF8651CF4289D0069A675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>057EF8701CF4289D0069A675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
